.ipynb_checkpoints/
__pycache__/
.vscode/
*.mp4
*.log
*.npz
*.sif
*.out
*.err
*.pkl
*.png
*.gif
*.pdf
*.ipynb
sampling_animation.py
!sampling_animation.mp4
outdir/
out/
config.yaml
launch_inference_in_singularity_container.sh